.logoLogin 
{
	position: relative;
	text-align: center;

}

.logoLogin img {
     width: 100px;
     height: 100px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: #5cb85c;
     text-align: center;

	/* Firefox */
	-moz-transition: all 1s ease;
	/* WebKit */
	-webkit-transition: all 1s ease;
	/* Opera */
	-o-transition: all 1s ease;
	/* Standard */
	transition: all 1s ease;
}

.logoLogin:hover img
{
	-moz-transform: rotateY(360deg) ;
	-webkit-transform: rotateY(360deg) ;
	-o-transform: rotateY(360deg) ;
	transform: rotateY(360deg) ;

}